@{
    ViewData["Title"] = "About";
}

<div class="container" style="overflow-x:hidden">

    <h2>About me</h2>
    <section class="section-about">
        <div class="col-md-8 col-xs-12">
            <div class="about-intro">
                <div class="about-intro-section">
                    My name is Magali Cantaert, a <span class="about-span">Full-Stack .NET Developer</span>. <br />
                    Recently, I graduated in <span class="about-span"> Informatics - Programming</span> at IVO/Howest Bruges.
                    Before I started this education, I was an independent employee of a family business for ten years.
                    I always felt I was missing something: I didn't get the fulfillment or challenge I seeked for.
                    For this reason, I started a new big chapter in my life, which I do not regret for a single moment.
                </div>
                <div class="about-intro-section">
                    I love to use my codings skills to make beautifully, organized websites and have a small preference
                    for <span class="about-span">UX</span> and <span class="about-span">Front-End development</span>.
                </div>        
                <div class="about-intro-section">
                    Outside of work, you'll find me in Disneyland Paris, walking my fluffy dog, teasing my two big cats
                    or attempt to cook an - obviously delicious - meal.
                </div>
                <div class="about-intro-section">
                    Do not hesistate to <span class="about-span"><a href="~/Home/Contact">contact</a></span> me if you have any questions.
                    I would love to hear from you,
                </div>
            </div>
            <div class="signature">Magali</div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="~/images/ik.jpg" class="about-img img-responsive" alt="Magali met Mickey Mouse" />
        </div>
    </section>


    <h2>I'm specialized in</h2>
    <section class="section-about">

        <div class="row">
            <div class="col-md-4 col-xs-12 text-center">
                <div class="about-specialized-title">UI/UX Design</div>
                <img class="about-icon" src="~/images/ux.png" alt="UX Design"/>
                <p class="text-justify">UI/UX Design is the process of enhancing user satisfaction by improving the usability, accessibility and pleasure provided in the interaction with the website.</p>
                <p class="text-justify">Once I've got all the necessary information, I design the visual aspect to create a beautiful user experience.</p>

            </div>

            <div class="col-md-4 col-xs-12 text-center">
                <div class="about-specialized-title">Front-end & Back-end development</div>
                <img class="about-icon" src="~/images/coding.png" alt="Development" />
                <p class="text-justify">
                    Front-End Development is building out the visual components of a website.
                    Using HTML, CSS and JavaScript, I aim to build interactive websites.
                </p>
                <p class="text-justify">
                    Back-End Development refers to the server side of development where you are primarily focused on how the site works.
                    I prefer to use ASP.NET Core (MVC) as Back-End framework.
                </p>
            </div>


            <div class="col-md-4 col-xs-12 text-center">
                <div class="about-specialized-title">Responsive design</div>
                <img class="about-icon" src="~/images/responsive.png" alt="Responsive Design" />
                <p class="text-justify">A responsive website 'responds to' or resizes itself depending on the type of device you use.</p>
                <p class="text-justify">My layouts will fit on any device. That could be a desktop computer, a laptop or devices with small screens such as smartphones and tablets.</p>
            </div>
        </div>
    </section>



    <h2>Professional skills</h2>
    <section class="section-about">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 col-xs-12">
                    <div class="barWrapper">
                        <span class="progressText"><B>HTML5 & CSS3</B></span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                <span class="popOver" data-toggle="tooltip" data-placement="top" title="90%"> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="barWrapper">
                        <span class="progressText"><B>ASP.NET CORE MVC</B></span>
                        <div class="progress ">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="10" aria-valuemax="100" style="">
                                <span class="popOver" data-toggle="tooltip" data-placement="top" title="70%"> </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="barWrapper">
                        <span class="progressText"><B>SQL SERVER</B></span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                <span class="popOver" data-toggle="tooltip" data-placement="top" title="60%"> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 col-xs-12">
                    <div class="barWrapper">
                        <span class="progressText"><B>JavaScript</B></span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <span class="popOver" data-toggle="tooltip" data-placement="top" title="75%"> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="barWrapper">
                        <span class="progressText"><B>jQuery</B></span>
                        <div class="progress ">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="35" aria-valuemin="10" aria-valuemax="100" style="">
                                <span class="popOver" data-toggle="tooltip" data-placement="top" title="35%"> </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="barWrapper">
                        <span class="progressText"><B>Vue.js</B></span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <span class="popOver" data-toggle="tooltip" data-placement="top" title="25%"> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 col-xs-12">
                    <div class="barWrapper">
                        <span class="progressText"><B>C#</B></span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                <span class="popOver" data-toggle="tooltip" data-placement="top" title="60%"> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="barWrapper">
                        <span class="progressText"><B>Xamarin</B></span>
                        <div class="progress ">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                <span class="popOver" data-toggle="tooltip" data-placement="top" title="90%"> </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="barWrapper">
                        <span class="progressText"><B>PHP</B></span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                <span class="popOver" data-toggle="tooltip" data-placement="top" title="35%"> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 col-xs-12">
                    <div class="barWrapper">
                        <span class="progressText"><B>Windows Server</B></span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                <span class="popOver" data-toggle="tooltip" data-placement="top" title="60%"> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="barWrapper">
                        <span class="progressText"><B>GIT</B></span>
                        <div class="progress ">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="10" aria-valuemax="100" style="">
                                <span class="popOver" data-toggle="tooltip" data-placement="top" title="75%"> </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="barWrapper">
                        <span class="progressText"><B>Adobe Creative Cloud</B></span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                <span class="popOver" data-toggle="tooltip" data-placement="top" title="65%"> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>



    <h2>My journey</h2>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-icon">
                <img class="timeline-img img-responsive" src="~/images/goal.png" alt="Goal" />
            </div>
            <div class="timeline-content">
                <div class="timeline-title">Starting my professional carreer</div>
                <div class="timeline-content-date">Feb '19 - present</div>
                <div class="timeline-text">Ready to launch my IT-carreer.</div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-icon">
                <img class="timeline-img img-responsive" src="~/images/graduation.png" alt="Graduation" />
            </div>
            <div class="timeline-content right">
                <div class="timeline-title">Got my degree</div>
                <div class="timeline-content-date">Jan '19</div>
                <div class="timeline-text">
                    In January 2019, I graduated in Informatics - Programming at IVO/Howest Bruges.
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-icon">
                <img class="timeline-img img-responsive" src="~/images/airplane(1).png" alt="Airplane" />
            </div>
            <div class="timeline-content">
                <div class="timeline-title">Internship TUI Belgium</div>
                <div class="timeline-content-date">Nov '18 - Dec '18</div>
                <div class="timeline-text">
                    Project: "Operational flight legs to commercial segments".<br />
                    During the internship I made an internal project to translate the operational segments of a flight
                    to commercial segments. This for both direct and triangle flights.
                    It was built within the ASP.NET Core Framework using MVC, with the focus on Back- and Front-End.
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-icon">
                <img class="timeline-img img-responsive" src="~/images/www(1).png" alt="Project" />
            </div>
            <div class="timeline-content right">
                <div class="timeline-title">Released my very first website</div>
                <div class="timeline-content-date">Jan '18</div>
                <div class="timeline-text">
                    For a school assignment, we were allowed to choose our own project
                    as long as we used the ASP.NET Core Framework combined with the MS SQL database.
                    I chose to make a web application for my parents with a reservation system.
                    This was my first big project ever that I put online.
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-icon">
                <img class="timeline-img img-responsive" src="~/images/coding (2).png" alt="Course" />
            </div>
            <div class="timeline-content">
                <div class="timeline-title">Start Graduate Programming Course</div>
                <div class="timeline-content-date">Sep '18</div>
                <div class="timeline-text">
                    Starting the Graduate Programming Education at IVO/Howest Bruges was probably
                    the best decision I ever made.
                    I developed skills that I didn't even know I was capable of.
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-icon">
                <img class="timeline-img img-responsive" src="~/images/woman.png" alt="Woman" />
            </div>
            <div class="timeline-content right">
                <div class="timeline-title">Independent manager by Frietboetiek Middelkerke</div>
                <div class="timeline-content-date">Feb '09 - Dec '18</div>
                <div class="timeline-text">
                    When I graduated from high school,
                    I chose to step into the family business of my parents.
                    For almost ten years, I have put my heart and soul into this company, until I was ready for a new challenge.
                </div>
            </div>
        </div>
    </div>
</div>
