@{
    ViewData["Title"] = "Home Page";
}


<div id="box1">
    <div class="container"  style="overflow-x:hidden">
        <div class="col-md-8 col-xs-12">

            <p class="site-title">Magali Cantaert</p>
            <p class="site-subtitle">Full Stack .NET Developer</p>


            <div class="site-description">
                I'm a webdesigner from Newport who just graduated from the HBO5 education IVO/Howest at Bruges.<br />
                Thanks to this education I discovered a new passion:<br />
                <span class="home-span">'Designing web and mobile applications'</span>.

            </div>

            <a href="~/Home/Projects" >
                <div class="basicBox">
                    Discover my projects
                    <svg width="200" height="65" viewBox="0 0 200 65" xmlns="http://www.w3.org/2000/svg">
                        <rect x='0' y='0' fill='none' width='200' height='65' />
                    </svg>
                </div>
            </a>

        </div>

    </div>
</div>
