@{
    ViewData["Title"] = "Home Page";
}



<section id="box1">
    <p class="site-title">I'm Magali Cantaert</p>
    <p class="site-description">.NET Developer</p>
</section>

<section id="box2"></section>






<div class="container">
    <div class="my-info">
        <p>Info</p>
        @*<div class="col-md-6 col-xs-12">
            <p>I currently am working as a Application developer at TUI Belgium, 
            which is where my passion for design and development converge. 
            I'm familiar with the Microsoft .NET Core framework and MS SQL database.
            Outside of work I have a beautiful girlfriend (obviously), two big cats and a fluffy dog. 
            
            If you're interested in starting a new project, I'd love to get coffee and get to know you, so don’t hesitate to get in touch. </p>
        </div>*@
        <div class="col-md-6 col-xs-12">
            @*<img id="my-picture" class="img-responsive" src="~/images/eee.jpg"  />*@
            <p>Foto</p>
        </div>
    </div>



    <h2></h2>
</div>