@{
    ViewData["Title"] = "Home Page";
}

@*<div class="box1">
        <img src="~/images/macbook.jpg" class="bg"  />
    </div>*@


@*<div class="container">
    <div class="col-md-8 col-xs-12">

        <p class="site-title">Magali Cantaert</p>
        <p class="site-subtitle">Full Stack .NET Developer</p>


        <div class="site-description">
            I'm a webdesigner from Newport who just graduated from the HBO5 education IVO/Howest at Bruges.<br />
            Thanks to this education I discovered a new passion:<br />
            <span>'Designing web and mobile applications'</span>.
        </div>

        <button>View my projects</button>
    </div>
    <div class="col-md-4 col-xs-12">
        <img src="~/images/back.jpg" class="imagecoding img-responsive" />
    </div>
</div>*@




<div id="box1">
    <div class="container">
        <div class="col-md-8 col-xs-12">

            <p class="site-title">Magali Cantaert</p>
            <p class="site-subtitle">Full Stack .NET Developer</p>


            <div class="site-description">
                I'm a webdesigner from Newport who just graduated from the HBO5 education IVO/Howest at Bruges.<br />
                Thanks to this education I discovered a new passion:<br />
                <span class="home-span">'Designing web and mobile applications'</span>.

            </div>

            <a href="~/Home/Projects" >
                <div class="basicBox">
                    Discover my projects
                    <svg width="200" height="65" viewBox="0 0 200 65" xmlns="http://www.w3.org/2000/svg">
                        <rect x='0' y='0' fill='none' width='200' height='65' />
                    </svg>
                </div>
            </a>

        </div>

    </div>
</div>





@*<section id="box1">
        <p class="site-title">Magali Cantaert</p>
        <p class="site-description">Full Stack .NET Developer</p>
    </section>*@



@*<div class="container">
        <div class="my-info">
            <div class="col-md-6 col-xs-12">
                <p>
                    Hi all!

                    My name is <span id="shake">Magali Cantaert</span>.
                    I'm a webdesigner from Newport who just graduated from the HBO5 education IVO/Howest at Bruges.
                    Thanks to this education I discovered a new passion: 'Designing web and mobile applications'.



                </p>
            </div>
            <div class="col-md-6 col-xs-12">
                <img id="my-picture" class="img-responsive" src="~/images/eee.jpg"  />
                <p>Foto</p>
            </div>
        </div>



        <button>View my projects</button>
    </div>*@