
@{
    ViewData["Title"] = "Projects";
}

<br />
<h2>Projects</h2>

<div class="container">

    <h3>Web Applications</h3>

    <div class="grid-container">
        <article class="project-listing">
            <h4>Frietboetiek Middelkerke</h4>
            <a href="http://frietboetiekmiddelkerke.be/" target="_blank">
                <p class="project-title">Reservation System</p>

                <div class="project-image">
                    <img class="project-img" src="~/images/PROJ_FB.png" alt="Frietboetiek Middelkerke">
                </div>
            </a>
        </article>

        <article class="project-listing">
            <h4>Kapsalon X</h4>
            <p class="project-title">Online Appointment Tool</p>
            <div class="project-image">
                <img class="project-img" src="~/images/PROJ_KAPSX.png" alt="Kapsalon X">
            </div>
        </article>

        <article class="project-listing">
            <h4>The Desert</h4>
            <p class="project-title">Unity Game Project</p>
            <div class="project-image">
                <img class="project-img" src="~/images/PROJ_UNITY_IMAC.png" alt="Unity Game">
            </div>
        </article>

        <article class="project-listing">
            <h4>Netline Schedule Converter</h4>
            <p class="project-title">Internship Project At TUI</p>          
                <div class="project-image">
                    <img class="project-img" src="~/images/PROJ_NETLINE.png" alt="Netline Schedule Converter">
                </div>
        </article>

        <article class="project-listing">
            <h4>Hero Cards</h4>
            <p class="project-title">Card Game Using MVC</p>
                <div class="project-image">
                    <img class="project-img" src="~/images/PROJ_HP.png" alt="Harry Potter Card Game">
                </div>
        </article>

        <article class="project-listing">
            <h4>Order Frorm</h4>
            <p class="project-title">JavaScript Order Form</p>
            <a href="http://frietboetiekmiddelkerke.be/" target="_blank">
                <div class="project-image">
                    <img class="project-img" src="~/images/PROJ_KROKANTJE.png" alt="JavaScript Order Form">
                </div>
            </a>
        </article>
    </div>


    <h3>Mobile Applications</h3>

    <div class="grid-container">

        <article class="project-listing">
            <h4>Timer</h4>
            <p class="project-title">Timer and Stopwatch App</p>
            <div class="project-image">
                <img class="project-img" src="~/images/PROJ_TIMER.png" alt="Frietboetiek Middelkerke">
            </div>
        </article>

        <article class="project-listing">
            <h4>Location Saver</h4>
            <p class="project-title">Retrieve and Save Locations App</p>
            <div class="project-image">
                <img class="project-img" src="~/images/PROJ_LOCATIONS.png" alt="Frietboetiek Middelkerke">
            </div>
        </article>

        <article class="project-listing">
            <h4>Order App</h4>
            <p class="project-title">Restaurant Order App</p>
            <div class="project-image">
                <img class="project-img" src="~/images/PROJ_FB_IPHONE.png" alt="Frietboetiek Middelkerke">
            </div>
        </article>

    </div>
</div>




