



<footer>
    <div class=" container">
        <div class="row">
            <div class="col-md-4 col-xs-12 text-center" style="margin-top:25px; margin-bottom:10px;">
                <a href="~/Home/Index">
                    <h6 class="footer-text">Home</h6>
                </a>
                <a href="~/Home/About">
                    <h6 class="footer-text">About</h6>
                </a>
                <a href="~/Home/Projects">
                    <h6 class="footer-text">Projects</h6>
                </a>
                <a href="~/Home/Contact">
                    <h6 class="footer-text">Contact</h6>
                </a>
            </div>

            <div class="col-md-2 col-xs-3 text-center">
                <a href="mailto:magalicantaert@live.be">
                    <img class="logo" src="~/images/contact.png" alt="E-mail" />
                </a>
            </div>
            <div class="col-md-2 col-xs-3 text-center">
                <a href="sms:+32473722309">
                    <img class="logo" src="~/images/smartphonewit.png" alt="Smartphone" />
                </a>
            </div>
            <div class="col-md-2 col-xs-3 text-center">
                <a href="https://www.linkedin.com/in/magali-cantaert-80871611a/" target="_blank">
                    <img class="logo" src="~/images/linkedin.png" alt="Linkedin" />
                </a>
            </div>
            <div class="col-md-2 col-xs-3 text-center">
                <a href="https://github.com/MagaliCantaert" target="_blank">
                    <img class="logo" src="~/images/github-logo-black-shape.png" alt="Github" />
                </a>
            </div>
        </div>


    </div>



</footer>

<div class="container-fluid" style="overflow-x:hidden;">
    <div class="row">
        <div id="copyright">
            <div class="col text-center">
                <h7>Copyright &copy; @DateTime.Now.Year Magali Cantaert</h7>
            </div>
        </div>
    </div>
</div>